#
# Monstra CMS :: php & apache settings 
#

# Set default charset utf-8
AddDefaultCharset UTF-8

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
	php_flag magic_quotes_gpc                 off
	php_flag magic_quotes_sybase              off
	php_flag register_globals                 off
</IfModule>


# Setting rewrite rules.
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /%siteurlhere%/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>