body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.user-panel {
    margin-top: 16px;
}

.user-panel {
	color: #fff;
}

.user-panel a {
	color: #fff;
	text-decoration: underline;
}

.error {
    color:red;
}


.form-control,
.btn,
.dropdown-menu,
.modal-content,
.badge,
.label,
.input-group-addon,
code {
    border-radius: 0;
}
.badge,
.label {
    font-weight: normal;
    text-shadow: none;
}
