/************************************
  Monstra
  default.css
*************************************
  CONTENTS
    1. GENERAL
    2. COMPONENTS
    3. MEDIA QUERIES

*************************************
    1. GENERAL
*************************************/

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('@site_url/public/assets/fonts/glyphicons-halflings-regular.eot');
    src: url('@site_url/public/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
    background: #fafafa;
}

h1,
h2,
h3,
h4,
h5 {
    color: #222;
}

.error-none {
    display: none;
}

.error-field {
    border: 1px solid red!important;
}

.error-message {
    color: red;
}

a.btn-expand {
    font-size: 14px;
    font-weight: bold;

    padding-right: 4px;
    padding-left: 4px;

    text-decoration: none;

    color: #333;
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.login-footer,
.login-footer a {
    font-size: 12px;

    color: #777;
}

footer {
    margin-top: 40px;
}

footer,
footer a {
    font-size: 12px;

    color: #777;
}

footer span {
    padding-top: 10px;

    border-top: 1px solid #e0e0e0;
}

footer .highlight {
    color: #333;
}

/*************************************
    2. COMPONENTS
*************************************/

/* Well */
.well {
    color: #555;
    border: none;
    border-radius: 0px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
            box-shadow: 0 1px 3px rgba(0,0,0,.13);

    -webkit-font-smoothing: subpixel-antialiased;
}

.dashboard-well {
    padding-top: 6px;
    padding-bottom: 6px;
}

.dashboard-well a.welcome-back {
    font-size: 16px;

    padding-left: 0;

    text-decoration: none;

    color: #333;
}

/* Admin Form */
.form-signin {
    max-width: 400px;
}

.form-signin {
    margin-top: 40px;
}

.form-signin .administration-area,
.form-signin .reset-password-area {
    margin-top: 40px;
}

/* Dropdown Menu */
.dropdown-menu .divider {
    background-color: #555454;
}

.dropdown-menu {
    border: 1px solid #333;
    background: #333;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: #eee;
}

/* Navbar */
.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.navbar-inverse {
    background: #222;
}

.navbar-default {
    border-radius: 0px;
}

ul.navbar-nav {
    min-height: 60px;
}

.navbar-nav > li {
    min-height: 60px;
}

.navbar-nav > li > a {
    line-height: 30px;
}

.navbar-brand {
    font-size: 24px;
    line-height: inherit;

    padding: 13px 15px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #333;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: #333;
}

a.navbar-brand {
    font-weight: bold;

    color: #fafafa!important;
}

.navbar-nav .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .dropdown-menu > li > a {
    padding: 7px 20px;
}

.nav > li > a {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.nav > li > a > img {
    width: 28px;
    height: 28px;
    margin: 0 0 0 4px;

    border: 1px solid #888;
}

/* Flat Elements */
.form-control,
.btn,
.dropdown-menu,
.modal-content,
.badge,
.label,
.input-group-addon,
.alert,
.tooltip,
.tooltip-inner,
pre,
code {
    border-radius: 0px;
}
.badge,
.tooltip,
.tooltip-inner,
.label,
pre,
code {
    font-weight: normal;

    text-shadow: none;
}

pre {
    border: none;
}

/* Inputs */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control,
.uneditable-input {
    color: #3c3c3c;
    border-color: #d0d0d0;
    background-color: #fff;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
    border-color: #aaaaaa;
    -webkit-box-shadow: 0 0 8px #dce1e5;
       -moz-box-shadow: 0 0 8px #dce1e5;
            box-shadow: 0 0 8px #dce1e5;
}

/* Datapicker */
.datapicker {
    width: 200px;
}

/* Breadcrumb */
.breadcrumb {
    border-radius: 0px;
    background: #fff;
}

/* Tabs */
.nav-tabs > li > a {
    border-radius: 0px;
}

.tab-page {
    background: #fff;
}

.tab-pane > table {
    border-top: none!important;
}

.tab-content {
    overflow: visible;
}

.tab-page {
    padding: 20px 10px 10px;

    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

/* Tables */
table {
    max-width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    background-color: transparent;
}
.table {
    width: 100%;
    margin-bottom: 18px;
}
.table th,
.table td {
    line-height: 18px;

    padding: 8px;

    text-align: left;

    border-top: 1px solid #dddddd;
    background: #fff;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}
.table tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    border-collapse: separate;

    border: 1px solid #dddddd;
    border-left: 0;

    *border-collapse: collapsed;
}
.table-bordered th:first-child,
.table-bordered td:first-child {
    border-left: 1px solid #dddddd;
}

.table-bordered td:first-child {
    padding-left: 15px;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead tr th {
    font-weight: bold;

    background-color: #fff;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
    border-top-left-radius: 0px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child {
    border-top-right-radius: 0px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #f5f5f5;
}

.table-bordered th,
.table-bordered td {
    height: 50px;

    border-left: none;
}

.table-bordered > thead > tr {
    height: 45px;
}

td,
th {
    display: table-cell;

    vertical-align: inherit!important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.vertical-align {
    display: table;

    width: 100%;
}

.vertical-align > div {
    display: table-cell;

    vertical-align: middle;
}

.vertical-align > div > h1,
.vertical-align > div > h2,
.vertical-align > div > h3,
.vertical-align > div > h4,
.vertical-align > div > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

/* Editor */
#editor_area {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;

    height: 400px!important;
    padding: 6px 9px;

    color: #555;
    border: 1px solid #ccc;
}

.markItUpHeader ul li {
    padding: 5px;
}

.markItUpHeader ul .markItUpSeparator {
    display: none;
}

.modal-header {
    border-bottom: 1px solid #f3f3f3;
}

.modal-header .close {
    font-size: 26px;
}

.modal-footer {
    border-top: 1px solid #f3f3f3;
}

.drop-file-here {
    margin-left: 4px;
    padding: 5px 40px;

    color: #ccc;
    border: 3px dashed #d5d5d5;
    background: #ccc;
    background: #f7f7f7;
}

.modal-backdrop {
    background-color: #000;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-content {
    border: none;
    box-shadow: none;
}

#readme .modal-dialog {
    width: 70%;
}

#readme .modal-body {
    padding-top: 0px;
}

#Choco_container_via {
    display: none;
}

/*************************************
    3. MEDIA QUERIES
*************************************/


@media (max-width: 480px) {
    /* MarkItUp */
    .markItUpButton11,
    .markItUpButton12,
    .markItUpButton13,
    .markItUpButton14,
    .markItUpButton15,
    .markItUpButton16,
    .markItUpButton17,
    .markItUpButton18 {
        display: none;
    }
    .markItUpSeparator {
        display: none;
    }

    /* Dashboard */
    .dashboard-well .col-xs-6 {
        width: 100%;
    }
    .dashboard-well .col-xs-6 .pull-right {
        float: left!important;
    }


    .btn-phone {
        width: 100%;
    }

    .row-phone {
        display: block!important;

        width: 100%!important;

        text-align: left!important;
    }

    /* Users */
    .users-btns > div {
        display: block;

        width: 100%;
        margin-top: 10px;

        text-align: left;
    }

    .users-btns > div:nth-child(2) {
        margin-top: 15px;
    }

    .page-users .btn-cancel {
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .nav > li > a {
        padding: 15px 9px!important;
    }
}

@media (max-width: 320px) {
    .mobile-nav-tabs .nav-tabs > li {
        width: 100%;
        height: 46px;
        margin: 0px;
    }
    .mobile-nav-tabs .nav-tabs > li > a {
        border: 0;
        background: #fff;
    }
    .mobile-nav-tabs .nav-tabs > li.active > a,
    .mobile-nav-tabs .nav-tabs > li.active > a:hover,
    .mobile-nav-tabs .nav-tabs > li.active > a:focus {
        color: #fff;
        border: 0;
        background-color: #428bca;
    }
    .mobile-nav-tabs .nav-tabs {
        margin-top: 10px;
        margin-bottom: 10px;

        border: 0;
    }
    .mobile-nav-tabs .tab-pane > table {
        border-top: 1px solid #ddd!important;
    }
}
