/************************************
Monstra
styles.css
*************************************
  CONTENTS
  1. GENERAL
  2. HEADER
  3. CONTENT
  4. LEFT MENU
  5. AUTHORIZATION
  6. MEDIA QUERIES

*************************************
1. GENERAL
*************************************/
body {
  background: #FAFAFA;
}

.navbar-inverse {
  background: #252525;
}

.navbar-brand {
  font-size: 24px;
}

h1,h2,h3,h4,h5 {
  color: #222;
}

td, th {
    display: table-cell;
    vertical-align: inherit!important;
}

.navbar-default {
  border-radius: 0px;
}

.nav-tabs>li>a {
  border-radius: 0px;
}

.tab-page {
  background: #fff;
}

.form-control,
.btn,
.dropdown-menu,
.modal-content,
.badge,
.label,
code {
    border-radius: 0px;
}

  /* Tabs */

  .tab-pane > table {
      margin-top:-20px;
  }

  .tab-pane > table {
      border-top:none!important;
  }

  .tab-content {
    overflow: visible;
  }

  .tab-page {
      border-bottom: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      padding: 20px 10px 10px;
  }

  .small-grey-text {
      color:#333;
      font-size: 10px;
  }

  .small-grey-text:hover {
      color:#000;
  }

  .small-white-text {
      color:#fff;
      font-size: 10px;
  }

  .small-white-text:hover {
      color:#fdfdfd;
  }

  .error-none {display:none;}
  .error-field {border:1px solid red!important;}
  .container-fluid {padding-left:0px;}
  img {max-width:none;}

  a.btn-expand{
    color: #333;
    font-weight:bold; 
    font-size:14px;  
    text-decoration: none;
    padding-left:4px;
    padding-right:4px;
  }

  footer a , footer{
    color:#333;
    font-size:10px;
  }


/* Inputs */

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=phone]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #999;
  box-shadow: none;
}

/* Tables */

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #dddddd;
   background: #fff;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th:first-child,
.table-bordered td:first-child {
  border-left: 1px solid #dddddd;
}

.table-bordered td:first-child {
  padding-left:15px;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead tr th {
  font-weight:bold;
  background-color: #fff;
}


.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child {
    border-top-left-radius: 0px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child {
    border-top-right-radius: 0px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}

.table-bordered th, .table-bordered td {
    border-left: none;
    height: 50px;
}

.table-bordered > thead > tr {
  height: 45px;
}

td, th {
    display: table-cell;
    vertical-align: inherit!important;
}

.table-bordered >thead>tr>th,
.table-bordered >tbody>tr>th,
.table-bordered >tfoot>tr>th,
.table-bordered >thead>tr>td,
.table-bordered >tbody>tr>td,
.table-bordered >tfoot>tr>td
{
  border: 0; 
  border-bottom: 1px solid #ccc;
}

.markItUpHeader ul li {
  padding: 5px; 
}

.markItUpHeader ul .markItUpSeparator {
  display: none;
}

/* iPhone 4 */
@media (max-width: 320px) {
    .markItUpButton11, 
    .markItUpButton12, 
    .markItUpButton13,
    .markItUpButton14,
    .markItUpButton15,
    .markItUpButton16,
    .markItUpButton17,
    .markItUpButton18 {
        display: none;
    }
    .markItUpSeparator{
        display: none;
    }

    #showImage {
        min-width: 298px!important;
    }
}

footer {
  margin-top: 40px;
}